/* 
    Document   : adminCSS_index
    Created on : May 17, 2013, 10:07:44 AM
    Author     : williamdobbs
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

