/* 
    Document   : adminCSS_upload
    Created on : May 17, 2013, 10:08:03 AM
    Author     : williamdobbs
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

