/* 
    Document   : adminCSS_login
    Created on : May 17, 2013, 10:07:25 AM
    Author     : williamdobbs
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

