<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>The relative path to product images</description>
        <param-name>productImagePath</param-name>
        <param-value>img/products/</param-value>
    </context-param>
    <context-param>
        <description>The relative path to category images</description>
        <param-name>categoryImagePath</param-name>
        <param-value>img/categories/</param-value>
    </context-param>
    <context-param>
        <description>customer service email</description>
        <param-name>custServEmail</param-name>
        <param-value>appointmentsystem@gmail.com</param-value>
    </context-param>
    <context-param>
        <description>The relative path to associate images</description>
        <param-name>associateImagePath</param-name>
        <param-value>../img/associates/</param-value>
    </context-param>
    <context-param>
        <description>The relative path to small product images</description>
        <param-name>productImagePathSmall</param-name>
        <param-value>img/products/small/</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <filter>
        <description>send user to index page when session times out</description>
        <filter-name>sessionTimeoutFilter</filter-name>
        <filter-class>filters.SessionTimeoutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TestInitParamsFilter</filter-name>
        <filter-class>filters.TestInitParamsFilter</filter-class>
        <init-param>
            <param-name>logFilename</param-name>
            <param-value>test_init_params.log</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>LogRequestFilter</filter-name>
        <filter-class>filters.LogRequestFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LogResponseFilter</filter-name>
        <filter-class>filters.LogResponseFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LogResponseCookiesFilter</filter-name>
        <filter-class>filters.LogResponseCookiesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sessionTimeoutFilter</filter-name>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-name>Check User Servlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogResponseCookiesFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <listener-class>store.util.AppointmentStoreContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <servlet-class>controller.ViewCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <description>category jsp</description>
        <servlet-name>category jsp</servlet-name>
        <jsp-file>/WEB-INF/view/category.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>index.jsp</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart.jsp</servlet-name>
        <jsp-file>/WEB-INF/view/cart.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>controller.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check Out jsp</servlet-name>
        <jsp-file>/WEB-INF/view/checkout.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PurchaseServlet</servlet-name>
        <servlet-class>controller.PurchaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmation jsp</servlet-name>
        <jsp-file>/WEB-INF/view/confirmation.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Error jsp</servlet-name>
        <jsp-file>/WEB-INF/view/error.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>User Login jsp</servlet-name>
        <jsp-file>/WEB-INF/view/user_login.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>This servlet checks for login credentials.</description>
        <servlet-name>Check User Servlet</servlet-name>
        <servlet-class>controller.CheckUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <servlet-class>controller.CustomerLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomersServlet</servlet-name>
        <servlet-class>admin.ViewCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAdminUserServlet</servlet-name>
        <servlet-class>admin.CheckAdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <servlet-class>admin.ViewOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogOutServlet</servlet-name>
        <servlet-class>admin.AdminLogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerRecordServlet</servlet-name>
        <servlet-class>admin.CustomerRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerInvoicesServlet</servlet-name>
        <servlet-class>admin.ViewCustomerInvoicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnProcessedOrdersServlet</servlet-name>
        <servlet-class>admin.UnProcessedOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderRecordServlet</servlet-name>
        <servlet-class>admin.OrderRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessedInvoicesServlet</servlet-name>
        <servlet-class>admin.ProcessedOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessInvoiceServlet</servlet-name>
        <servlet-class>admin.ProcessInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteAssociatePictureServlet</servlet-name>
        <servlet-class>admin.WriteAssociatePictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadAsscoicatePictureServlet</servlet-name>
        <servlet-class>admin.ReadAsscoicatePictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindInvoiceDateRangeServlet</servlet-name>
        <servlet-class>admin.FindInvoiceDateRangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Find Admin jsp page</servlet-name>
        <jsp-file>/admin/findAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>calendar jsp</servlet-name>
        <jsp-file>/WEB-INF/view/calendar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Calendar Servlet</servlet-name>
        <servlet-class>calendar.controller.CalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calendar jsp 2</servlet-name>
        <jsp-file>/calendar_2.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>book appointment jsp</servlet-name>
        <jsp-file>/WEB-INF/view/book_appointment.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListAssociatesServlet</servlet-name>
        <servlet-class>calendar.controller.ListAssociatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>calendar.controller.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogOutServlet</servlet-name>
        <servlet-class>controller.CustomerLogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServicesServlet</servlet-name>
        <servlet-class>calendar.controller.ListServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTimesServlet</servlet-name>
        <servlet-class>calendar.controller.ListTimesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register JSP</servlet-name>
        <jsp-file>/WEB-INF/view/register/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>register.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>store.data.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration Confirmation</servlet-name>
        <jsp-file>/WEB-INF/view/register/registration_confirm.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CheckRegistrationServlet</servlet-name>
        <servlet-class>controller.CheckRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration Emailed</servlet-name>
        <jsp-file>/WEB-INF/view/register/registration_emailed.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Register Entry</servlet-name>
        <jsp-file>/WEB-INF/view/register/register_enter.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RegisterEntryServlet</servlet-name>
        <servlet-class>register.RegisterEntryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProcessRegistrationServlet</servlet-name>
        <servlet-class>register.ProcessRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssocitateScheduleServlet</servlet-name>
        <servlet-class>associate.AssocitateScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>associate login</servlet-name>
        <jsp-file>/associate/associate_info/associate_login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ChcekAssociateServlet</servlet-name>
        <servlet-class>associate.CheckAssociateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Associate Index</servlet-name>
        <jsp-file>/associate/associate_info/associate_index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UpdateAssociateServlet</servlet-name>
        <servlet-class>associate.UpdateAssociateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>associate update jsp</servlet-name>
        <jsp-file>/associate/associate_info/update_associate.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LogOutAssociateServlet</servlet-name>
        <servlet-class>associate.LogOutAssociateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload picture</servlet-name>
        <jsp-file>/associate/associate_info/upload_picture.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Admin Index jsp</servlet-name>
        <jsp-file>/admin/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <description> </description>
        <servlet-name>CommonsFileUploadServlet</servlet-name>
        <servlet-class>controller.CommonsFileUploadServlet</servlet-class>
        <run-as>
            <role-name>service</role-name>
        </run-as>
    </servlet>
    <servlet>
        <servlet-name>scheduler JSP</servlet-name>
        <jsp-file>/associate/associate_info/scheduler.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ProcessScheduleServlet</servlet-name>
        <servlet-class>associate.ProcessScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearScheduleServlet</servlet-name>
        <servlet-class>associate.ClearScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessNormalServlet</servlet-name>
        <servlet-class>associate.ProcessNormalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlobalSettingsServlet</servlet-name>
        <servlet-class>associate.GlobalSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>associate_settings.jsp</servlet-name>
        <jsp-file>/associate/associate_info/associate_settings.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AssociateServicesServlet</servlet-name>
        <servlet-class>associate.AssociateServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>controller.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>progressbar.jsp</servlet-name>
        <jsp-file>/WEB-INF/view/progressbar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>JSONservlet</servlet-name>
        <servlet-class>json.JSONServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarAssociate</servlet-name>
        <jsp-file>/associate/associate_info/calendarAssociate.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FullCalendarServlet</servlet-name>
        <servlet-class>json.FullCalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FullCalPostServlet</servlet-name>
        <servlet-class>json.FullCalPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>json.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <description>auto complete servlet for ajax json name search</description>
        <servlet-name>ClientCompleteServlet</servlet-name>
        <servlet-class>json.ClientCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssociateAutoCompleteServlet</servlet-name>
        <servlet-class>json.AssociateAutoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Services Auto Complete Servlet</servlet-name>
        <servlet-class>json.ServiceAutoCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mobile jsp</servlet-name>
        <jsp-file>/mobile/m_associateHome.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Associate Page</servlet-name>
        <jsp-file>/mobile/associate_mobile/m_associatePage.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Mobile SchedulerServlet</servlet-name>
        <servlet-class>json.SchedulerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mobile Scheduler JSP Page</servlet-name>
        <jsp-file>/mobile/associate_mobile/m_associateScheduler.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Google Map Associate</servlet-name>
        <jsp-file>/mobile/associate_mobile/m_associateMap.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Associate Clients.jsp</servlet-name>
        <jsp-file>/associate/associate_info/associate_clients.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>IncomingMessages</servlet-name>
        <servlet-class>associate.IncomingForwardedMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <description>handle incoming sms messages</description>
        <servlet-name>IncomingMessagesServlet</servlet-name>
        <servlet-class>associate.IncomingForwardedMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mobile Clients</servlet-name>
        <jsp-file>/mobile/associate_mobile/m_associateClients.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>mobile settings jsp page</servlet-name>
        <jsp-file>/mobile/associate_mobile/m_associateSettings.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Associate Messages</servlet-name>
        <jsp-file>/associate/associate_info/associate_messages.jsp</jsp-file>
    </servlet>
    <servlet>
        <description>This is list the associate services.</description>
        <servlet-name>associate services jsp</servlet-name>
        <jsp-file>/associate/associate_info/associate_services.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SmsServlet</servlet-name>
        <servlet-class>json.SmsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesServlet</servlet-name>
        <servlet-class>json.MessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCategoryServlet</servlet-name>
        <url-pattern>/viewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>category jsp</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart.jsp</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/viewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index.jsp</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check Out jsp</servlet-name>
        <url-pattern>/checkout.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseServlet</servlet-name>
        <url-pattern>/purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmation jsp</servlet-name>
        <url-pattern>/confirmation.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error jsp</servlet-name>
        <url-pattern>/error.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User Login jsp</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check User Servlet</servlet-name>
        <url-pattern>/checkuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLoginServlet</servlet-name>
        <url-pattern>/customerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calendar jsp 2</servlet-name>
        <url-pattern>/calendar2.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book appointment jsp</servlet-name>
        <url-pattern>/book.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAssociatesServlet</servlet-name>
        <url-pattern>/listAssociates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/bookAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogOutServlet</servlet-name>
        <url-pattern>/customerLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTimesServlet</servlet-name>
        <url-pattern>/listTimes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register JSP</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/registerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAdminUserServlet</servlet-name>
        <url-pattern>/checkAdminUser</url-pattern>
        <url-pattern>/admin/checkAdminUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Find Admin jsp page</servlet-name>
        <url-pattern>/admin/findAdmin.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomersServlet</servlet-name>
        <url-pattern>/admin/viewCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrdersServlet</servlet-name>
        <url-pattern>/admin/viewOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogOutServlet</servlet-name>
        <url-pattern>/admin/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerRecordServlet</servlet-name>
        <url-pattern>/admin/customerRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerInvoicesServlet</servlet-name>
        <url-pattern>/admin/customerInvoices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnProcessedOrdersServlet</servlet-name>
        <url-pattern>/admin/unProcessedOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderRecordServlet</servlet-name>
        <url-pattern>/admin/orderRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessedInvoicesServlet</servlet-name>
        <url-pattern>/admin/processedOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessInvoiceServlet</servlet-name>
        <url-pattern>/admin/processInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteAssociatePictureServlet</servlet-name>
        <url-pattern>/admin/writeAssociatePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadAsscoicatePictureServlet</servlet-name>
        <url-pattern>/admin/readAsscoicatePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindInvoiceDateRangeServlet</servlet-name>
        <url-pattern>/admin/invoiceDateRange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration Confirmation</servlet-name>
        <url-pattern>/registrationConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckRegistrationServlet</servlet-name>
        <url-pattern>/checkRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration Emailed</servlet-name>
        <url-pattern>/registrationEmailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register Entry</servlet-name>
        <url-pattern>/register_enter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterEntryServlet</servlet-name>
        <url-pattern>/enterRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRegistrationServlet</servlet-name>
        <url-pattern>/processRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssocitateScheduleServlet</servlet-name>
        <url-pattern>/associate/associtateSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>associate login</servlet-name>
        <url-pattern>/associate/associateLogin</url-pattern>
        <url-pattern>/associateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Associate Index</servlet-name>
        <url-pattern>/associate/associateIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>associate update jsp</servlet-name>
        <url-pattern>/associate/updateAssociate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload picture</servlet-name>
        <url-pattern>/associate/uploadPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessNormalServlet</servlet-name>
        <url-pattern>/associate/processNormalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlobalSettingsServlet</servlet-name>
        <url-pattern>/associate/globalSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServicesServlet</servlet-name>
        <url-pattern>/associate/associateServicesList</url-pattern>
        <url-pattern>/listServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssociateServicesServlet</servlet-name>
        <url-pattern>/associate/associateServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin Index jsp</servlet-name>
        <url-pattern>/admin/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/deleteCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>progressbar.jsp</servlet-name>
        <url-pattern>/progressBar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAssociateServlet</servlet-name>
        <url-pattern>/associate/updatePassword</url-pattern>
        <url-pattern>/associate/updateSecurityQuestion</url-pattern>
        <url-pattern>/associate/updateProfile</url-pattern>
        <url-pattern>/associate/updateServices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calendar Servlet</servlet-name>
        <url-pattern>/nextDay</url-pattern>
        <url-pattern>/viewToday</url-pattern>
        <url-pattern>/calendar</url-pattern>
        <url-pattern>/viewDay</url-pattern>
        <url-pattern>/thisWeek</url-pattern>
        <url-pattern>/prevWeek</url-pattern>
        <url-pattern>/prevMonth</url-pattern>
        <url-pattern>/viewWeek</url-pattern>
        <url-pattern>/nextWeek</url-pattern>
        <url-pattern>/today</url-pattern>
        <url-pattern>/prevDay</url-pattern>
        <url-pattern>/gotoDate</url-pattern>
        <url-pattern>/viewDate</url-pattern>
        <url-pattern>/nextMonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calendar jsp</servlet-name>
        <url-pattern>/nextDay.jsp</url-pattern>
        <url-pattern>/viewToday.jsp</url-pattern>
        <url-pattern>/viewDay.jsp</url-pattern>
        <url-pattern>/viewWeek.jsp</url-pattern>
        <url-pattern>/gotoDate.jsp</url-pattern>
        <url-pattern>/prevWeek.jsp</url-pattern>
        <url-pattern>/calendar.jsp</url-pattern>
        <url-pattern>/nextWeek.jsp</url-pattern>
        <url-pattern>/viewDate.jsp</url-pattern>
        <url-pattern>/thisWeek.jsp</url-pattern>
        <url-pattern>/prevMonth.jsp</url-pattern>
        <url-pattern>/prevDay.jsp</url-pattern>
        <url-pattern>/nextMonth.jsp</url-pattern>
        <url-pattern>/today.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONservlet</servlet-name>
        <url-pattern>/JSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarAssociate</servlet-name>
        <url-pattern>/associate/calendarAssociate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FullCalendarServlet</servlet-name>
        <url-pattern>/FullCalendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientCompleteServlet</servlet-name>
        <url-pattern>/clientComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssociateAutoCompleteServlet</servlet-name>
        <url-pattern>/associateAutoComp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Services Auto Complete Servlet</servlet-name>
        <url-pattern>/services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChcekAssociateServlet</servlet-name>
        <url-pattern>/mCheckAssociate</url-pattern>
        <url-pattern>/mobile/m_associateHome</url-pattern>
        <url-pattern>/associate/checkAssociate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobile jsp</servlet-name>
        <url-pattern>/mobile/associate.jsp</url-pattern>
        <url-pattern>/mobile/m_associateHome.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mobile SchedulerServlet</servlet-name>
        <url-pattern>/mobile/m_scheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Associate Page</servlet-name>
        <url-pattern>/mobile/m_associatePage.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessScheduleServlet</servlet-name>
        <url-pattern>/associate/processQuickSchedule</url-pattern>
        <url-pattern>/associate/processNormalSchedule</url-pattern>
        <url-pattern>/mobile/m_associateScheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearScheduleServlet</servlet-name>
        <url-pattern>/associate/clearSchedule</url-pattern>
        <url-pattern>/mobile/m_clearScheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mobile Scheduler JSP Page</servlet-name>
        <url-pattern>/mobile/m_associateScheduler.jsp</url-pattern>
        <url-pattern>/mobile/m_clearScheduler.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Google Map Associate</servlet-name>
        <url-pattern>/mobile/m_associateMap.jsp</url-pattern>
        <url-pattern>/mobile/m_associateMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Associate Clients.jsp</servlet-name>
        <url-pattern>/associate/associate_clients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FullCalPostServlet</servlet-name>
        <url-pattern>/FullCalPost</url-pattern>
        <url-pattern>/UserInfoPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomingMessages</servlet-name>
        <url-pattern>/IncomingMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncomingMessagesServlet</servlet-name>
        <url-pattern>/incomingMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mobile Clients</servlet-name>
        <url-pattern>/mobile/m_associateClients.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>associate_settings.jsp</servlet-name>
        <url-pattern>/associate/associateSettings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scheduler JSP</servlet-name>
        <url-pattern>/associate/scheduler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutAssociateServlet</servlet-name>
        <url-pattern>/mobile/logoutAssociate</url-pattern>
        <url-pattern>/associate/logoutAssociate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mobile settings jsp page</servlet-name>
        <url-pattern>/mobile/m_associateSettings.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommonsFileUploadServlet</servlet-name>
        <url-pattern>/moblie/associatePhotoUpl</url-pattern>
        <url-pattern>/moblie/uploadphoto</url-pattern>
        <url-pattern>/associate/associatePhotoUpl</url-pattern>
        <url-pattern>/commonsFileUpload</url-pattern>
        <url-pattern>/associate/commonsFileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Associate Messages</servlet-name>
        <url-pattern>/associate/associate_messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>associate services jsp</servlet-name>
        <url-pattern>/associate/associate_services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmsServlet</servlet-name>
        <url-pattern>/sms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesServlet</servlet-name>
        <url-pattern>/Messages</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>redirect.jsp</welcome-file>
        <welcome-file>WEB-INF/view/user_login.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/error/403.jspf</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jspf</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/500.jspf</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error/error_java.jsp</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settingsß</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/registration_emailed.jsp</url-pattern>
            <url-pattern>/registerEntry</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <url-pattern>/WEB-INF/jspf/error/*</url-pattern>
            <url-pattern>/register_enter.jsp</url-pattern>
            <url-pattern>/registration_confirm.jsp</url-pattern>
            <url-pattern>/delete_cookies.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>Appointment System Admin</description>
            <display-name>Admin</display-name>
            <url-pattern>/admin/login.jsp</url-pattern>
            <url-pattern>/admin/index.jsp</url-pattern>
            <url-pattern>/admin/error.jsp</url-pattern>
            <include-prelude>/admin/jspf/header.jspf</include-prelude>
            <include-coda>/admin/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer</description>
            <display-name>associate</display-name>
            <url-pattern>/associate/associate_info/*</url-pattern>
            <include-prelude>/associate/jspf/header.jspf</include-prelude>
            <include-coda>/associate/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>jsp files and headers</description>
            <display-name>mobile group</display-name>
            <url-pattern>/mobile/associate_mobile/*</url-pattern>
            <include-prelude>/mobile/jspf_mobile/header.jspf</include-prelude>
            <include-coda>/mobile/jspf_mobile/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <display-name>errors group</display-name>
            <url-pattern>/error/*</url-pattern>
            <include-prelude>/error/jspf/header.jspf</include-prelude>
            <include-coda>/error/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>login page</description>
            <display-name>mobile general group</display-name>
            <url-pattern>/mobile/m_associateHome.jsp</url-pattern>
            <include-prelude>/mobile/jspf_mobile_general/header.jspf</include-prelude>
            <include-coda>/mobile/jspf_mobile_general/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <security-constraint>
        <display-name>Appointment and Salon System Administration</display-name>
        <web-resource-collection>
            <web-resource-name>Appointment System Administration</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>programmer</role-name>
            <role-name>service</role-name>
            <role-name>manager</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Checkout</display-name>
        <web-resource-collection>
            <web-resource-name>checkout</web-resource-name>
            <description/>
            <url-pattern>/checkout</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Customer Login</display-name>
        <web-resource-collection>
            <web-resource-name>Customer Login</web-resource-name>
            <description/>
            <url-pattern>/customerLogin.jsp</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>User Login</web-resource-name>
            <description/>
            <url-pattern>/userlogin</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Register Page</web-resource-name>
            <description/>
            <url-pattern>/register</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Register user</web-resource-name>
            <description/>
            <url-pattern>/registerUser</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Registration</display-name>
        <web-resource-collection>
            <web-resource-name>registration page</web-resource-name>
            <description/>
            <url-pattern>/register</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Associate Services</display-name>
        <web-resource-collection>
            <web-resource-name>associate services</web-resource-name>
            <description/>
            <url-pattern>/associate/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>associate mobile</display-name>
        <web-resource-collection>
            <web-resource-name>associate mobile security</web-resource-name>
            <description>associate mobile security access</description>
            <url-pattern>/mobile/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/admin/login.jsp</form-login-page>
            <form-error-page>/admin/error.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>service</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>programmer</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>manager</role-name>
    </security-role>
</web-app>
